In [10]:
import mysql.connector as msql
import pandas as pd
from sqlalchemy import create_engine

In [11]:
connections = msql.connect(host = 'localhost', user = 'root', password='123456')
if connections.is_connected():
    cursor = connections.cursor()
    print("Conexión Exitosa")
else:
    print("Conexión Rechazada")

Conexión Exitosa

In [14]:
consulta = pd.read_sql("show databases;",connections)
consulta

             Database
0  information_schema
1               mysql
2  performance_schema
3    personasperdidas
4              sakila
5                 sys
6               world

In [13]:
cursor.execute("CREATE DATABASE PersonasPerdidas;")

In [15]:
engine = create_engine('mysql+mysqldb://root:123456@localhost:3306/PersonasPerdidas')

In [16]:
df = pd.read_csv("mdg_personasdesaparecidas_pm_2021_enero_diciembre.csv", sep=";" ,encoding='latin-1')

In [17]:
print(df )

            Provincia       Latitud      Longitud  Edad Aprox.    Sexo  \
0           PICHINCHA  -0,156852339  -78,47783944           29  HOMBRE
1     MORONA SANTIAGO    -2,0021974   -77,9967043           15   MUJER
2               AZUAY     -2,882362   -79,0589399           16   MUJER
3               AZUAY     -2,923468    -79,066101           39  HOMBRE
4           PICHINCHA    -0,0960907   -78,4505219           38  HOMBRE
...               ...           ...           ...          ...     ...
7717           GUAYAS    -2,1756489   -79,8102535           55   MUJER
7718           GUAYAS    -2,1756489   -79,8102535           31   MUJER
7719        PICHINCHA    -0,2341696   -78,5405543           11   MUJER
7720        PICHINCHA    -0,3323013   -78,4458149           45  HOMBRE
7721         LOS RIOS  -1,187125138  -79,51009512           16   MUJER

        Motivo Desaparción  Motivo Desaparción Obs. Fecha Desaparición  \
0       PROBLEMAS SOCIALES  INFLUENCIA DE AMISTADES           6/8/2021
1       PROBLEMAS SOCIALES  INFLUENCIA DE AMISTADES          15/7/2021
2     PROBLEMAS FAMILIARES     FAMILIA DISFUNSIONAL           3/8/2021
3                FALLECIDO               ACCIDENTAL          29/7/2021
4                 SIN_DATO                 SIN_DATO         15/10/2021
...                    ...                      ...                ...
7717              SIN_DATO                 SIN_DATO         11/10/2021
7718              SIN_DATO                 SIN_DATO         11/10/2021
7719  PROBLEMAS FAMILIARES     FAMILIA DISFUNSIONAL         20/12/2021
7720              SIN_DATO                 SIN_DATO         25/12/2021
7721              SIN_DATO                 SIN_DATO         25/12/2021

     Situación Actual Fecha Localización
0          ENCONTRADO           8/8/2021
1          ENCONTRADO           9/8/2021
2          ENCONTRADO           9/8/2021
3           FALLECIDO           6/8/2021
4        DESAPARECIDO           SIN_DATO
...               ...                ...
7717     DESAPARECIDO           SIN_DATO
7718     DESAPARECIDO           SIN_DATO
7719       ENCONTRADO          19/1/2022
7720     DESAPARECIDO           SIN_DATO
7721     DESAPARECIDO           SIN_DATO

[7722 rows x 10 columns]

In [18]:
for column in df :
    print(column)

Provincia
Latitud
Longitud
Edad Aprox.
Sexo
Motivo Desaparción
Motivo Desaparción Obs.
Fecha Desaparición
Situación Actual
Fecha Localización

In [19]:
try:
    df .to_sql('información', con=engine, if_exists = 'replace', index = False)
    print("creación y almacenamiento completados")
except Exception as e:
    print(e)

creación y almacenamiento completados